name: Deploy to Google Cloud Run via Terraform
on:
  workflow_dispatch:

jobs:
  deploy-gcp:
    runs-on: ubuntu-latest

    env:
      GOOGLE_CLOUD_PROJECT: ${{ secrets.GCP_PROJECT_ID }}
      TF_WORKING_DIR: terraform/gcp/app
      IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/kanji-flashcards
      IMAGE_TAG: latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Credentials for Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set Google Cloud project
        run: gcloud config set project ${{ env.GOOGLE_CLOUD_PROJECT }}

      - name: Debug Project ID
        run: |
          echo "TF var project_id=${{ secrets.GCP_PROJECT_ID }}"
          echo "GOOGLE_CLOUD_PROJECT=$GOOGLE_CLOUD_PROJECT"

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Run Terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init -input=false

      - name: Run Terraform apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          terraform apply -auto-approve \
            -var "project_id=${{ env.GOOGLE_CLOUD_PROJECT }}" \
            -var "image_repo=${{ env.IMAGE_REPO }}" \
            -var "image_tag=${{ env.IMAGE_TAG }}"
