name: Deploy to Google Cloud Run via Terraform

on: workflow_dispatch

jobs:
  deploy:
    uses: ./.github/workflows/template.yml
    with:
      cloud_provider: gcp
      tf_directory: terraform/gcp
      tf_vars: >
        -var "project_id=${{ secrets.GCP_PROJECT_ID }}"
        -var "image_tag=latest"
    secrets: inherit
