name: Deploy to Google Cloud Run via Terraform

on: workflow_dispatch

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    uses: ./.github/workflows/template.yml
    with:
      cloud_provider: gcp
      tf_directory: terraform/gcp
    secrets:
      GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}