name: CI/CD Template

on:
  workflow_call:
    inputs:
      cloud_provider:
        required: true
        type: string
        description: "aws, azure, or gcp"
      tf_directory:
        required: true
        type: string
      tf_vars:
        required: false
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: false
      AZURE_TENANT_ID:
        required: false
      AZURE_SUBSCRIPTION_ID:
        required: false
      GCP_SA_KEY:
        required: false
      GCP_PROJECT_ID:
        required: false
      AWS_ACCESS_KEY_ID:
        required: false
      AWS_SECRET_ACCESS_KEY:
        required: false

jobs:
  pipeline:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: kanji-flashcards
      IMAGE_TAG: latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "maven"

      - name: Test & Build Java
        run: mvn -B package

      # === GitHub Container Registry (AWS & Azure) ===
      - name: Login to GHCR
        if: inputs.cloud_provider == 'aws' || inputs.cloud_provider == 'azure'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set GHCR Image
        if: inputs.cloud_provider == 'aws' || inputs.cloud_provider == 'azure'
        run: echo "FULL_IMAGE=ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}" >> $GITHUB_ENV

      # === Google Artifact Registry ===
      - name: Login to GCP
        if: inputs.cloud_provider == 'gcp'
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure GCR Auth
        if: inputs.cloud_provider == 'gcp'
        run: gcloud auth configure-docker europe-west2-docker.pkg.dev

      - name: Set GCR Image
        if: inputs.cloud_provider == 'gcp'
        run: echo "FULL_IMAGE=europe-west2-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/kanji-app/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}" >> $GITHUB_ENV

      # === Common Steps ===
      - name: Build Docker
        run: docker build -t ${{ env.FULL_IMAGE }} .

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.FULL_IMAGE }}

      - name: Push Image
        run: docker push ${{ env.FULL_IMAGE }}

      # === Authenticate with AWS for Terraform ===
      - name: Configure AWS Credentials
        if: inputs.cloud_provider == 'aws'
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

        # === Authenrticate with GCP for Terraform ===
      - name: Configure GCP Credentials for Terraform
        if: inputs.cloud_provider == 'gcp'
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # === Authenticate with Azure for Terraform ===
      - name: Configure Azure Credentials for Terraform
        if: inputs.cloud_provider == 'azure'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ${{ inputs.tf_directory }}
        run: terraform init

      - name: Terraform Apply
        working-directory: ${{ inputs.tf_directory }}
        run: |
          if [ "${{ inputs.cloud_provider }}" = "gcp" ]; then
            terraform apply -auto-approve -input=false \
              -var "project_id=${{ secrets.GCP_PROJECT_ID }}" \
              ${{ inputs.tf_vars }}
          elif [ "${{ inputs.cloud_provider }}" = "azure" ]; then
            terraform apply -auto-approve -input=false \
              -var "subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
              ${{ inputs.tf_vars }}
          else
            terraform apply -auto-approve -input=false ${{ inputs.tf_vars }}
          fi
